<header class="p-3">
  <div class="container px-0">
    <h1 class="text-uppercase text-white text-decoration-underline fs-5 mb-0">Spribe</h1>
  </div>
</header>
<div class="container">
  <div class="d-flex justify-content-between align-items-center pt-3 pb-3">
    <p class="fs-3 fw-bolder mb-0">Profiles</p>
    <!--    <button type="button" class="button fs-6 btn text-white" (click)="filterProfiles()">Filter by age</button>-->
    <select class="form-select fs-6 w-50" aria-label="Default select example" (change)="filterProfiles($event)">
      <option value="default" selected>Filter by age</option>
      <option value="oldest">Sort by age descending</option>
      <option value="youngest">Sort by age ascending</option>
    </select>
    <button type="button" class="button fs-6 btn text-white" (click)="showCreateProfile = true">Add new</button>
  </div>
  <div class="profiles-list row row-cols-1 row-cols-sm-3">
    <app-profiles
      *ngFor="let profile of getProfiles()"
      [profile]="profile"
      (changeProfile)="changeProfile($event)"
      (removeProfile)="setRemovedProfileId($event)"
    ></app-profiles>
    <div *ngIf="showCreateProfile" [ngClass]="{'was-validated': validation}">
      <div class="card mb-4 position-relative w-100">
        <div *ngIf="!newProfileImage" class="img w-100" style="background: #f5f6f8; height: 231px"></div>
        <img *ngIf="newProfileImage" [src]="newProfileImage" class="card-img-top" alt="...">
        <label class="form-file violet-button btn fw-bolder position-absolute translate-middle" for="formFile">Upload
          Image</label>
        <input class="d-none form-file violet-button btn fw-bolder position-absolute translate-middle"
               type="file"
               required
               id="formFile"
               (change)="onChangeFileUpload($event)"
        >
        <div class="card-body">
          <div class="g-3 needs-validation d-flex justify-content-between"
               novalidate>
            <div class="d-flex flex-column w-75 me-3">
              <label for="profileName" class="form-label">Name</label>
              <input [(ngModel)]="newProfileName" type="text" class="form-control w-100" id="profileName" required>
              <div class="invalid-feedback">
                Please enter a username.
              </div>
            </div>
            <div class="d-flex flex-column">
              <label for="profileAge" class="form-label">Age</label>
              <input [(ngModel)]="newProfileAge" type="number" class="form-control w-100" id="profileAge" required>
              <div class="invalid-feedback">
                Please enter age.
              </div>
            </div>
          </div>
          <div class="profile-buttons d-flex justify-content-between">
            <button type="button"
                    class="btn border border-danger text-danger fw-bolder" (click)="showCreateProfile = false">Cancel
            </button>
            <button type="submit" class="btn fw-bolder violet-button" (click)="addNewProfileUser()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal
  (confirmAction)="removeProfile($event)"
></app-modal>

